[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = git://github.com/haskell/haskell-mode.git
[submodule "enhanced-ruby-mode"]
	path = enhanced-ruby-mode
	url = git://github.com/zenspider/enhanced-ruby-mode.git
[submodule "helm"]
	path = helm
	url = https://github.com/emacs-helm/helm.git
